/* =========================================================
   4.1 BUTTON: TOP NAV TABS
   ========================================================= */
.c-tab{

  background: rgba(0,0,0,0.20);
  border: 1px solid rgba(255,255,255,0.12);

  color: var(--text);

  font-family:
    "Segoe UI",
    "Eurostile",
    "Bank Gothic",
    system-ui,
    sans-serif;

  font-weight: 800;
  font-size: 13px;

  letter-spacing: 0.8px;
  text-transform: uppercase;

  position: relative;

  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.18),
    inset 0 10px 16px rgba(255,255,255,0.05),
    0 2px 6px rgba(0,0,0,0.35);

  text-shadow: 0 0 6px rgba(255,255,255,0.10);
}

.c-tab .ico{
  margin-right: 6px;
}

.c-tab:hover{
  border-color: rgba(0,255,204,0.35);

  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.18),
    inset 0 12px 18px rgba(255,255,255,0.06),
    0 0 10px rgba(0,255,204,0.12);
}

.c-tab.is-active{

  background: linear-gradient(
    to bottom,
    rgba(0,255,204,0.18),
    rgba(0,0,0,0.10) 35%,
    rgba(0,0,0,0.06) 65%,
    rgba(0,255,204,0.14)
  );

  border-color: rgba(0,255,204,0.65);

  color: var(--mint);

  box-shadow:
    inset 0 1px 4px rgba(0,0,0,0.45),
    inset 0 1px 0 rgba(255,255,255,0.10),
    0 0 12px rgba(0,255,204,0.22);

  text-shadow:
    0 0 10px rgba(0,255,204,0.45),
    0 0 2px rgba(0,255,204,0.8);
}

.c-tab.is-active::after{
  content:"";
  position:absolute;
  left:5px; /*10*/
  right:5px; /*10*/
  bottom:-2px;
  height:1px;
  background: rgba(0,255,204,0.95);
  box-shadow: 0 0 6px rgba(0,255,204,0.75);
}