/* =========================================================
   4.1 BUTTON: TOP NAV TABS
   ========================================================= */

.c-tab{
  border: 1px solid rgba(255,255,255,0.12);
  color: var(--text);
  font-family:
    "Segoe UI",
    "Eurostile",
    "Bank Gothic",
    system-ui,
    sans-serif;
}
/* =========================================================
   5.3 BUTTON: PHONE / CONTACT
   ========================================================= */
.c-phone{
  border: 1px solid rgba(0,255,204,0.45);
}

/* =========================================================
   5.4 TOGGLE BUTTON: CHECK / UNCHECK
   ========================================================= */
.c-btn.c-toggle{
  padding: 6px 10px;
  border-radius: 999px;
  background: rgba(0,0,0,0.18);
  border: 1px solid var(--border);
  display: inline-grid;           /* grid ist wichtig bei Emojis*/
  place-items: center;            /* vertikal zentrieren */
  line-height: 1;                 /* ganz wichtig bei Emojis */
  min-width: 50px;  /* Verhindert visuelles Springen beim Wechsel ✔ / ✖ */
  min-height: 28px; /* Verhindert visuelles Springen beim Wechsel ✔ / ✖ */
}

.c-btn.c-toggle:hover{
  border-color: rgba(0,255,204,0.35);
}

/* symbol */
.c-btn.c-toggle .tgl{
  font-size: 18px;
  color: rgba(208, 6, 6, 0.916);   /* default = red ✖ */
}

/* checked = green */
.c-btn.c-toggle.is-checked .tgl{
  color: rgba(21, 255, 0, 0.916);  /* green ✔ */
}
.c-btn.c-toggle.is-checked{
  border-color: rgba(0,255,204,0.55);
  box-shadow: 0 0 6px rgba(0,255,204,0.25);
}

.c-btn.c-toggle{
  border: 1px solid var(--border);
  line-height: 1;                 /* ganz wichtig bei Emojis */
}