<!-- legs.html -->
            <!-- Leg 1 -->
            <div class="c-panel">
              <div class="master-grid">

              <!-- Zeile 1 -->
                <div class="c-label leg-title" style="grid-row:1/4;">LEG 1</div> <!-- Spalte 1 -->
                <div class="c-label">ETD</div> <!-- Spalte 2 -->
                <input type="text" class="c-input time legField etd"> <!-- Spalte 3 -->
                <div class="c-label aero-label">AERODROME</div> <!-- Spalte 4 -->
                <input type="text" class="c-input aero legField aeroFrom"> <!-- Spalte 5 -->
                <div></div> <!-- Spalte 6 leer -->

              <!-- Zeile 2 -->
                <div class="c-label">ETA</div> <!-- Spalte 2 -->
                <input type="text" class="c-input time legField eta"> <!-- Spalte 3 -->
                <div class="c-label aero-label">AERODROME</div> <!-- Spalte 4 -->
                <input type="text" class="c-input aero legField aeroTo"> <!-- Spalte 5 -->
                <div></div> <!-- Spalte 6 leer -->

              <!-- Zeile 3 -->
                <div class="c-label">ALTERNATE</div> <!-- Spalte 2 -->
                <div></div> <!-- Spalte 3 leer -->
                <div class="c-label aero-label">AERODROME</div> <!-- Spalte 4 -->
                <input type="text" class="c-input alt legField"> <!-- Spalte 5 -->
                <input type="text" class="c-input alt legField col6"> <!-- Spalte 6 -->
              </div>
            </div>

            <!-- Leg 2 -->
            <div class="c-panel">
              <div class="master-grid">

              <!-- Zeile 1 -->
                <div class="c-label leg-title" style="grid-row:1/4;">LEG 2</div> <!-- Spalte 1 -->
                <div class="c-label">ETD</div> <!-- Spalte 2 -->
                <input type="text" class="c-input time legField etd"> <!-- Spalte 3 -->
                <div class="c-label aero-label">AERODROME</div> <!-- Spalte 4 -->
                <input type="text" class="c-input aero legField aeroFrom"> <!-- Spalte 5 -->
                <button type="button" class="legToggle c-btn c-btn--ghost c-btn--sm col6" data-leg="2" data-state="active">ACTIVE</button> <!-- Spalte 6 -->

              <!-- Zeile 2 -->
                <div class="c-label">ETA</div> <!-- Spalte 2 -->
                <input type="text" class="c-input time legField eta"> <!-- Spalte 3 -->
                <div class="c-label aero-label">AERODROME</div> <!-- Spalte 4 -->
                <input type="text" class="c-input aero legField aeroTo"> <!-- Spalte 5 -->
                <div></div> <!-- Spalte 6 leer -->

              <!-- Zeile 3 -->
                <div class="c-label">ALTERNATE</div> <!-- Spalte 2 -->
                <div></div> <!-- Spalte 3 leer -->
                <div class="c-label aero-label">AERODROME</div> <!-- Spalte 4 -->
                <input type="text" class="c-input alt legField"> <!-- Spalte 5 -->
                <input type="text" class="c-input alt legField col6"> <!-- Spalte 6 -->
              </div>
            </div>

            <!-- Leg 3 -->
            <div class="c-panel">
              <div class="master-grid">

              <!-- Zeile 1 -->
                <div class="c-label leg-title" style="grid-row:1/4;">LEG 3</div> <!-- Spalte 1 -->
                <div class="c-label">ETD</div> <!-- Spalte 2 -->
                <input type="text" class="c-input time legField etd"> <!-- Spalte 3 -->
                <div class="c-label aero-label">AERODROME</div> <!-- Spalte 4 -->
                <input type="text" class="c-input aero legField aeroFrom"> <!-- Spalte 5 -->
                <button type="button" class="legToggle c-btn c-btn--ghost c-btn--sm col6" data-leg="3" data-state="active">ACTIVE</button> <!-- Spalte 6 -->

              <!-- Zeile 2 -->
                <div class="c-label">ETA</div> <!-- Spalte 2 -->
                <input type="text" class="c-input time legField eta"> <!-- Spalte 3 -->
                <div class="c-label aero-label">AERODROME</div> <!-- Spalte 4 -->
                <input type="text" class="c-input aero legField aeroTo"> <!-- Spalte 5 -->
                <div></div> <!-- Spalte 6 leer -->

              <!-- Zeile 3 -->
                <div class="c-label">ALTERNATE</div> <!-- Spalte 2 -->
                <div></div> <!-- Spalte 3 leer -->
                <div class="c-label aero-label">AERODROME</div> <!-- Spalte 4 -->
                <input type="text" class="c-input alt legField"> <!-- Spalte 5 -->
                <input type="text" class="c-input alt legField col6"> <!-- Spalte 6 -->
              </div>
            </div>

            <!-- Leg 4 -->
            <div class="c-panel">
              <div class="master-grid">

              <!-- Zeile 1 -->
                <div class="c-label leg-title" style="grid-row:1/4;">LEG 4</div> <!-- Spalte 1 -->
                <div class="c-label">ETD</div> <!-- Spalte 2 -->
                <input type="text" class="c-input time legField etd"> <!-- Spalte 3 -->
                <div class="c-label aero-label">AERODROME</div> <!-- Spalte 4 -->
                <input type="text" class="c-input aero legField aeroFrom"> <!-- Spalte 5 -->
                <button type="button" class="legToggle c-btn c-btn--ghost c-btn--sm col6" data-leg="4" data-state="active">ACTIVE</button> <!-- Spalte 6 -->

              <!-- Zeile 2 -->
                <div class="c-label">ETA</div> <!-- Spalte 2 -->
                <input type="text" class="c-input time legField eta"> <!-- Spalte 3 -->
                <div class="c-label aero-label">AERODROME</div> <!-- Spalte 4 -->
                <input type="text" class="c-input aero legField aeroTo"> <!-- Spalte 5 -->
                <div></div> <!-- Spalte 6 leer -->

              <!-- Zeile 3 -->
                <div class="c-label">ALTERNATE</div> <!-- Spalte 2 -->
                <div></div> <!-- Spalte 3 leer -->
                <div class="c-label aero-label">AERODROME</div> <!-- Spalte 4 -->
                <input type="text" class="c-input alt legField"> <!-- Spalte 5 -->
                <input type="text" class="c-input alt legField col6"> <!-- Spalte 6 -->
              </div>
            </div>
            <!-- BUTTON Footer PANEL -->
            <div class="c-panel__foot">
              <div class="c-btnGroup">
                <button class="c-btn c-reset" data-action="reset-kopf">Reset Kopfdaten</button>
                <button class="c-btn c-reset" data-action="reset-times">Reset ETD/ETA</button>
                <button class="c-btn c-reset" data-action="reset-aeros">Reset AERODROMES</button>
              </div>
            </div>