            <div class="setting-row">
              <label for="cfgPass">Team-Passwort (Config)</label><br>
              <input id="cfgPass" type="password" autocomplete="current-password" placeholder="Passwort eingeben">
            </div>

            <div class="setting-row">
              <button id="btnCfgLoad" type="button">Config laden</button>
              <button id="btnCfgClearPass" type="button">Passwort löschen</button>
              <span id="cfgStatus" style="margin-left:8px;"></span>
            </div>
            <label class="setting-row">
              <input type="checkbox" id="mailEoUsePicker">
              <span>Dateien manuell auswählen (Mail EO)</span>
              <div>Platzhalter Unterschrift hinzufügen</div>
              
            </label>