            <div class="setting-row">
              <label for="cfgPass">Team-Passwort (Config)</label><br>
              <input class="c-input" id="cfgPass" type="password" autocomplete="current-password" placeholder="Passwort eingeben">
            </div>

            <div class="setting-row">
              <button class="c-btn" id="btnCfgLoad" type="button">Config laden</button>
              <button class="c-btn" id="btnCfgClearPass" type="button">Passwort löschen</button>
              <span id="cfgStatus" style="margin-left:8px;"></span>
            </div>
            <div class="setting-row">
              <label for="fdlSelect">FDL</label><br>
              <select class="c-select" id="fdlSelect"></select>
            </div>

            <div class="setting-row">
              <label>FDL Telefon</label><br>
              <div id="fdlTel" style="font-weight:600;"></div>
            </div>
            <label class="setting-row">
              <input class="c-input" type="checkbox" id="mailEoUsePicker">
              <span>Dateien manuell auswählen (Mail EO)</span>
              <div>Platzhalter Unterschrift hinzufügen</div>
              
            </label>